<?php

if (version_compare(PHP_VERSION, '5.4', '>=') && gc_enabled()) {
	gc_disable();
}

$loader = require __DIR__ . '/vendor/autoload.php';
$loader->add('Zemanta\\', array(__DIR__ . '/tests'));

return $loader;